<app-slider></app-slider>
<div class="theatres-main-container">
  <div class="theatres-header-container">
    <div class="theatres-header">THEATRES</div>
  </div>
  <div class="filter-theatre-container">
    <div class="filter-container">
      <div class="filter-heading-container">
        <div class="filter-heading">Filter By</div>
        <div class="clear">clear</div>
      </div>
      <div *ngFor="let theatreFilter of theatresFilter" class="filter-sub-container">
        <div class="sub-heading-title">{{theatreFilter.heading}}</div>
        <p *ngFor="let content of theatreFilter.content" class="sub-content">{{content}}</p>
      </div>
    </div>
    <div class="theatres-list-container">
      <div *ngFor="let theatre of theatreDetails" class="theatre-main-container">
        <div class="theatre-icon-container">
          <div class="theatre-icon">
            <img src="assets/images/home/theatres/theatreIcon.svg" alt="">
          </div>
        </div>
        <div class="theatre-content-block">
          <div class="theatre-name">{{theatre.theatreName}}</div>
          <div class="theatre-location">Chennai</div>
          <div class="amenities-experience">
            <span *ngFor="let content of theatre.theatreContent" class="amentities-experience-sub-content">{{content}}</span>
          </div>
        </div>
        <div class="book-container">
          <div class="book-block">Book</div>
        </div>
      </div>
    </div>
  </div>
</div>      
