<div class="footer-body">
  <div class="footer-icons">
    <div class="icons-container">
      <div class="icons">
        <img src="assets/images/home/footerIcons/customer-care.svg">CUSTOMER CARE
      </div>
      <div class="icons">
        <img src="assets/images/home/footerIcons/faq.svg">FAQ
      </div>
      <div class="icons">
        <img src="assets/images/home/footerIcons/about-us.svg">ABOUT US
      </div>
      <div class="icons">
        <img src="assets/images/home/footerIcons/feedback.svg">FEEDBACK
      </div>
      <div class="icons">
        <img src="assets/images/home/footerIcons/boxoffice.svg">BOXOFFICE
      </div>
    </div>
  </div>
  <div class="footer-options-container">
    <div class="sub-options-container-1">
      <div class="sub-option-container-1">
        <div class="sub-option-title">BROWSE ALL</div>
        <p>Blog</p>
        <p>Now Showing</p>
        <p>Coming Soon</p>
        <p>All movies</p>
        <p>Cinemas</p>
      </div>
      <div class="sub-option-container-1">
        <div class="sub-option-title">LINKS</div>
        <p>Register</p>
        <p>Login</p>
        <p>Order</p>
        <p>Help</p>
        <p>How to use coupons</p>
        <p>Boxoffice Software</p>
      </div>
      <div class="sub-option-container-1">
        <div class="sub-option-title">CINEMAS</div>
        <p>Udhayam Theatre</p>
        <p>Kasi Cinemas</p>
        <p>INOX Cinemas</p>
        <p>PVR Cinemas</p>
        <p>Srinivasa Theatre</p>
      </div>
      <div class="sub-option-container-1">
        <div class="sub-option-title">ENQUIRIES</div>
        <p>Events</p>
        <p>Dealers</p>
        <p>Advertising</p>
        <p>Theatre Owners</p>
        <p>Support</p>
        <p>Technical Support</p>
      </div>
    </div>
  </div>
  <div class="sub-options-container-2">
    <div class="sub-option-container-2">
      <div class="sub-option-title">UPCOMING MOVIES</div>
      <div class="sub-option-list-container">
        <div class="sub-option-list">
          <p>RRR</p>
          <p>Valimai</p>
          <p>Dhuruva Natchathiram</p>
          <p>Vikram</p>
        </div>
        <div class="sub-option-list">
          <p>KGF Chapter 2</p>
          <p>Avatar 2</p>
          <p>Radhe Shyam</p>
        </div>
      </div>
    </div>
    <div class="sub-option-container-2">
      <div class="sub-option-title">NOW PLAYING</div>
      <div class="sub-option-list-container">
        <div class="sub-option-list">
          <p>Writer</p>
          <p>83</p>
          <p>Rocky</p>
          <p>Shyam Singha Roy</p>
        </div>
        <div class="sub-option-list">
          <p>Spider Man No Way Home</p>
          <p>The Matrix Resurrections</p>
          <p>Pushpa</p>
        </div>
      </div>
    </div>
    <div class="sub-option-container-2">
      <div class="sub-option-title">NEXT CHANGE</div>
      <div class="sub-option-list-container">
        <div class="sub-option-list">
          <p>Velle</p>
          <p>RRR</p>
        </div>
        <div class="sub-option-list">
          <p>Ghosty</p>
          <p>Spider Man No Way Home</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-container">
    <div class="facebook-twitter-icons-container">
      <div>
        <img src="assets/images/home/footerIcons/facebook.svg">
      </div>
      <div>
        <img src="assets/images/home/footerIcons/twitter.svg">
      </div>
    </div>
    <div class="copyright-content">
      Copyright © 2019 Orbgen Technologies Pvt. Ltd. All rights reserved. Terms of Use. Privacy Policy
    </div>
  </div>
</div>
