<div class="main-body">
  <div class="header">
    <div class="logo-location-container">
      <img src="https://cdn3.ticketnew.com/tn/tn_logo/tn-logo-01.svg"/>
    <div class="location">
      [ Chennai
      <i class="material-icons">location_on</i>
      ]
    </div>
    </div>
    <div class="header-options-container">
      <div class="header-option-focused">HOME</div>
      <div class="header-option">MOVIES</div>
      <div class="header-option">THEATRE</div>
      <div class="header-option">EVENTS</div>
      <div class="header-option">ORDERS</div>
    </div>
    <div class="login-container">
      <div class="profile-logo">
        <i class="material-icons">person</i>
      </div>
      <div class="profile">Log In</div>
    </div>
  </div>
</div>