<div class="movies-list-container">
  <div class="movies-header-container">
    <div class="movies-header">MOVIES</div>
  </div>
  <div class="showing-coming-soon-options-container">
    <div class="showing-coming-block">
      <div (click)="showNowShowing()" [ngClass]="{'active-showing': activeShowing}" class="now-showing">NOW SHOWING</div>
      <div (click)="showComingSoon()" [ngClass]="{'active-soon': activeSoon}" class="coming-soon">COMING SOON</div>
    </div>
  </div>
  <div class="filter-movie-container">
    <div class="filter-container">
      <div class="filter-heading-container">
        <div class="filter-heading">Filter By</div>
        <div class="clear">clear</div>
      </div>
      <div *ngFor="let movieFilter of moviesFilter" class="filter-sub-container">
        <div class="sub-heading-title">{{movieFilter.heading}}</div>
        <div *ngFor="let content of movieFilter.content" class="sub-content">{{content}}</div>
      </div>
    </div>
    <div id="nowShowingMovies" class="now-showing-movies">
      <div class="grid-container">
        <div *ngFor="let movie of movieList" class="movie-container">
          <div class="movie-image">
            <img src="{{movie.movieImage}}" alt="">
          </div>
          <div class="movie-title-description-container">
            <div class="movie-title">{{movie.movieName}}</div>
            <div class="movie-description">{{movie.movieContent}}</div>
          </div>
          <div class="book-option">Book</div>
        </div>
      </div>
    </div>
  </div>
</div>
